---
const TIMESTAMP_END = 1717236000000
---

<section class="flex flex-col justify-center items-center
animate-fade-in-up animate-delay-500"
>
   
    <article class="border-2 justify-center items-center">
        <div data-date={TIMESTAMP_END} class="text-2xl m-20 flex flex-col gap-x-5 gap-y-8 justify-center items-center 
        scale-125 uppercase text-yellow-600
        sm:flex-row  sm:text-md">
            <div class="flex flex-col justify-center items-center gap-y-2 w-16">
                <span class="tabular-nums" data-days>00</span>
                <span>Día</span>
            </div>
        
            <div class="flex flex-col justify-center items-center gap-y-2 w-16">
                <span class="tabular-nums" data-hours>00</span>
                <span>Hor</span>
            </div>
        
            <div class="flex flex-col justify-center items-center gap-y-2 w-16">
                <span class="tabular-nums" data-minutes>00</span>
                <span>Min</span>
            </div>
        
            <div class="flex flex-col justify-center items-center gap-y-2 w-16">
                <span class="tabular-nums" data-seconds>00</span>
                <span>Seg</span>
            </div>
        </div>
        <div class="justify-center items-center">
            <img class="opacity-90 mr-10" src="/public/cogollo01.svg" alt="icono de la Conchinchina">
        </div>
    </article>
</section>

<script>
    const SECOND = 1000     // 1000 MS
    const MINUTE = SECOND * 60 // 60s --> 60000ms
    const HOUR = MINUTE * 60 // 60m --> 3600s 
    const DAY = HOUR * 24 // 

    function init(){
        const $countdown = document.querySelector ('[data-date]')
        if (!$countdown) return

        const $days = $countdown.querySelector('[data-days]')
        const $hours = $countdown.querySelector('[data-hours]')
        const $minutes = $countdown.querySelector('[data-minutes]')
        const $seconds = $countdown.querySelector('[data-seconds]')

        const timestamp = $countdown.getAttribute("data-date")
        if(!timestamp) return
        
        const date = new Date(+timestamp).getTime()

        function updateCountdown () {
            const now = Date.now()
            const diff = date - now

            if ($days instanceof HTMLElement){
                $days.innerText = Math.floor(diff / DAY).toString();
            }

            if ($hours instanceof HTMLElement){
                $hours.innerText = Math.floor((diff % DAY) / HOUR).toString();
            }

            if ($minutes instanceof HTMLElement){
                $minutes.innerText = Math.floor((diff % HOUR) / MINUTE).toString();
            }

            if ($seconds instanceof HTMLElement){
                $seconds.innerText = Math.floor((diff % MINUTE) / SECOND).toString();
            }
        }
        setInterval(updateCountdown, SECOND)
        updateCountdown()
    }

    init()
</script>