---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
    <span class="text-xl uppercase text-secondary bg-primary px-4 py-1 mb-9">
        Presentación de la 
    </span>
    <HeroLogo />
</section>