---
---

<section class="flex font-medium text-primary gap-y-2 my-24 justify-center items-center
flex-col
animate-fade-in-up animate-delay-500"
>
    <div class="flex justify-center items-center w-1/2">
        <a target="_blank" href="/src/pages/index.astro" rel="noopener 
        noreferrer">
            <img src="/src/icons/shishaIcon.svg" alt="Imagen de Shisa">
        </a>
    </div>
    <div class="flex flex-col md:flex-row uppercase
    text-center justify-center items-center gap-x-10">

        <article 
        class="order-2 md:flex-2 md:order-none md:h-52 flex justify-center items-center 
        text-lg sm:text-md lg:text-xl py-10 px-3 border-y-2 
        border-primary"
        >
            <h5 class="w-50 text-center">Descuentos impresionantes para los primeros Usuarios</h5>
        </article>

        <article 
        class="order-1 md:flex-3 md:order-none md:h-60 col-span-2 flex justify-center items-center 
        text-2xl sm:text-xl lg:text-3xl
        px-3 py-10 md:border-y-4 border-primary"
        >
            <h4 class="w-66 text-center">Empieza YA a conseguir tus puntos Conchi de china</h4>
        </article>

        <article 
        class="order-3 md:flex-2 flex md:h-52 justify-center items-center 
        text-lg sm:md lg:text-xl py-10 border-b-2 md:border-y-2 
        px-3  border-primary"
        >
            <h5 class="w-50 text-center">Presentación de la tienda in realtime explicando el funcionamiento</h5>
        </article>

    </div>


</section>