---
// Supports weights 100-900
import '@fontsource-variable/fraunces';
import '@fontsource/rammetto-one';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="max-w-6xl px-2 lg:px10 pt-16 mx-auto">
			<slot />
		</div>
		
	</body>
</html>
<style is:global>
	html {
		font-family: 'Rammetto One','Fraunces Variable',system-ui, sans-serif;
		background: #13151a;
	}
	h1, h2{
		font-family: 'monoton','Rammetto One',system-ui, sans-serif;
	}

</style>
